
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.bg-blue {
    background-color: #313A5F;

}

.container  {
    width: 1120px;
    margin-inline: auto;
    
    
}

nav {
    display: flex;
    gap: 40px;
    padding-top: 46px;

    
    
    
}

nav > a {
    display: block;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.introduction {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 169px 0 205px 0;

}

.introduction__header {
    color: #FFF;
    font-family: Inter;
    font-size: 74px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 40px;
}

.introduction__text {
    color: #FFF;
    text-align: justify;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 136.295%; /* 43.615px */
    }

.portfolio {
    margin-block: 150px;
    position: relative;
}

.portfolio__title {
    font-size: 74px;
    font-weight: 500;
    margin-bottom: 100px;
}

.portfolio__arrows {
    position: absolute;
    right: 0;
    display: flex;
    gap: 24px;
}

.portfolio__arrows-img {
    width: 55px;
    height: 25px;
}

.portfolio-template {
    display: flex;
    align-items: center;
    margin-bottom: 89px;
}

.portfolio__option {
    font-size: 32px;
    width: 570px;
    
}

.portfolio__info {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.portfolio__img {
    width: 570px;
    height: 414px;
    
}

.portfolio__skills {
    flex-grow: 1;
}

.portfolio__skill {
    font-size: 32px;
    border-bottom: 2px solid black;
    margin-bottom: 35px;
}

.portfolio__btn {
    margin-top: 40px;
    padding: 20px 50px;
    border-radius: 44px;
    background-color: #313A5F;
    color: white;
    border: none;
    transition: 3s;

}

.abautme {
    padding-top: 54px;
}

.abautme-header__text {
    color: #FFF;
    font-family: Inter;
    font-size: 74px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.abautme__title {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 54px 0 83px 0;
}

.abautme__text {
    color: #FFF;
    text-align: justify;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 136.295%; /* 43.615px */
    margin-top: 100px;
}

.bg-grey {
    background: #F1fFF1;
}



